<section class="m-6 mx-auto bg-gray-800 p-6 rounded-md text-center">
    <h1 class="pt-3">Page under construction.</h1>
    <p class="pt-3">If you would like to contribute to this project, please visit our <a href="https://github.com/RobinHerzig/First-Line-Response" class="link link-hover" target="_blank">Github</a>.</p>
</section>