<footer class="footer p-10 bg-gray-800 text-base-content">
    <div>
        <img class="logo h-14" src="/images/logo.png" alt="First Line Response logo">
        <p>First Line Response<br>Providing reliable service since 2022</p>
    </div>
    <div>
        <span class="footer-title text-gray-300">Services</span>
        <a class="link link-hover" href="/branding">Branding</a>
        <a class="link link-hover" href="/design">Design</a>
        <a class="link link-hover" href="/marketing">Marketing</a>
        <a class="link link-hover" href="/advertisement">Advertisement</a>
    </div>
    <div>
        <span class="footer-title text-gray-300" href="/company">Company</span>
        <a class="link link-hover" href="/demo">Demo</a>
        <a class="link link-hover" href="/support">Support</a>
        <a class="link link-hover" href="/contribute">Contribute</a>
        <a class="link link-hover" href="/press">Press kit</a>
    </div>
    <div>
        <span class="footer-title text-gray-300" href="/legal">Legal</span>
        <a class="link link-hover" href="/terms">Terms of use</a>
        <a class="link link-hover" href="/privacy">Privacy policy</a>
        <a class="link link-hover" href="/cookies">Cookie policy</a>
    </div>
</footer>

</body>
</html>