<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/output.css">
    <title>First Line Response</title>
</head>

<body class="bg-gray-700">

    <div class="drawer">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
        <div class="drawer-content flex flex-col">
          <!-- Navbar -->
          <div class="w-full navbar bg-gray-800">
            <div class="flex-none lg:hidden">
              <label for="my-drawer-3" class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
              </label>
            </div> 
            <div class="flex-1 px-2 mx-2 text-lg font-semibold"> <a href="/">First Line Response</a></div>
            <div class="flex-none hidden lg:block">
              <ul class="menu menu-horizontal">
                <!-- Navbar menu content here -->
                <li><a href="/demo">Demo</a></li>
                <% if (!user?.id) { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                <% } %>
                <% if (user?.id) { %>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
              </ul>
            </div>
          </div>