<%- include('partials/header.ejs') %>

<h1>ABOUT ABOUT ABOUT ABOUT</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda excepturi similique modi atque quibusdam mollitia tempore quaerat, architecto dolorem! Et eaque similique deleniti laudantium deserunt voluptate amet in esse ab!</p>


<%- include('partials/footer.ejs') %>