<%- include('partials/header.ejs') %>

<section class="m-6 mx-auto bg-gray-800 p-6 rounded-md text-center">
  <p class="pt-3">Thank you for your interest! If you enjoyed our service and would like to contribute, please visit our <a href="https://github.com/RobinHerzig/First-Line-Response" class="link link-hover underline" target="_blank">Github</a>.</p>
</section>

<%- include('partials/footer.ejs') %>