<%- include('partials/header.ejs') %>

  <% if (!user?.id) { %>
    <div class="alert alert-info shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="stroke-current flex-shrink-0 w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>This document is read-only. For demonstration, sample calls have been provided below. To create and save new calls, please <a href="/login"
            class="link link-hover underline">login</a>. For instructions on operating First Line Response, visit <a href="https://github.com/RobinHerzig/First-Line-Response" class="link link-hover underline" target="_blank">Github</a>.</span>
      </div>
    </div>
    <% } %>

      <%- include('partials/cad.ejs') %>

        <%- include('partials/footer.ejs') %>