<%- include('partials/header.ejs') %>

    <section class="hero bg-gray-800">
        <section class="hero-content flex-col lg:flex-col">
            <div class="hero-content flex-col lg:flex-row pb-0">
                <img src="/images/map.jpg" class="max-w-sm rounded-lg shadow-2xl" alt="Earth at night from space" />
                <div>
                    <h1 class="text-5xl font-bold leading-snug">Professional Computer-Aided Dispatch Software</h1>
                    <p class="py-3">First Line Response is a tracking program designed for emergency management and
                        disaster response.</p>
                    <a href="/demo"><button class="btn btn-primary">View Demo</button></a>
                </div>
            </div>
            <section class="hero-content flex-col lg:flex-col items-start pt-0">
                <p>In the emergency services field, telecommunicators utilize software called
                    computer-aided dispatch (CAD) to track 911 calls and first responders. Some of these systems are
                    extremely sophisticated, but their costs can be prohibitive for smaller
                    agencies who may find themselves literally limited to pen and paper. This is an issue because it
                    hurts response time and reliability.</p>
                <p>As an accessible CAD, First Line Response solves this problem while retaining the features essential
                    to keeping citizens and first responders safe.</p>
            </section>
        </section>


    </section>




    <section class="py-12">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="lg:text-center">
                <h2 class="text-lg font-semibold">Features</h2>
                <p class="mt-2 text-3xl font-bold leading-8 tracking-tight sm:text-4xl">A better way to keep first
                    responders safe.</p>
                <p class="mt-4 max-w-2xl text-xl lg:mx-auto">See what makes First Line Response different than the
                    competitors:</p>
            </div>

            <div class="mt-10">
                <dl class="space-y-10 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 md:space-y-0">
                    <div class="relative">
                        <dt>
                            <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-primary">
                                <!-- Heroicon name: outline/globe-alt -->
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                                </svg>
                            </div>
                            <p class="ml-16 text-lg font-medium leading-6">Open-source</p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base">Our software is open-source and released under an MIT license.
                            In other words, it is completely free for use and modification.</dd>
                    </div>

                    <div class="relative">
                        <dt>
                            <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-primary">
                                <!-- Heroicon name: outline/scale -->
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0012 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 01-2.031.352 5.988 5.988 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 01-2.031.352 5.989 5.989 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971z" />
                                </svg>
                            </div>
                            <p class="ml-16 text-lg font-medium leading-6">Customizable</p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base">Because it is written in EJS, Tailwind, and JavaScript, if you
                            know how to build a website then you know how to customize First Line Response to meet your
                            agency's needs.</dd>
                    </div>

                    <div class="relative">
                        <dt>
                            <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-primary">
                                <!-- Heroicon name: outline/bolt -->
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                                </svg>
                            </div>
                            <p class="ml-16 text-lg font-medium leading-6">Straightforward</p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base">First Line Response supports multiple simulataneous emergency
                            calls, providing features like automatic time stamping and one-click call
                            updating.</dd>
                    </div>

                    <div class="relative">
                        <dt>
                            <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-primary">
                                <!-- Heroicon name: outline/chat-bubble-bottom-center-text -->
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                                </svg>
                            </div>
                            <p class="ml-16 text-lg font-medium leading-6">Responsive</p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base">Thanks to Tailwind, our CAD application is fully responsive to
                            fit screens of any size. This provides opportunities for mobile and tablet use, alongside
                            traditional desktops.</dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>

    <section class="m-6 p-3 bg-gray-800 rounded-md">
        <h2 class="text-center text-lg font-semibold">Frequently Asked Questions</h2>

        <div tabindex="0" class="collapse collapse-arrow rounded-box">
            <div class="collapse-title text-lg font-medium">
                How do I use First Line Response?
            </div>
            <div class="collapse-content">
                <ol class="list-decimal list-inside">
                    <li>To start, click the red "New Call" button. In the box to the right, you'll see that this created
                        and automatically selected a new call.</li>
                    <li>Some fields, including the date, time, and call ID fields, are autofilled to save time.</li>
                    <li>Type information into the other fields as needed and hit the "enter" key or click "Save Call" to
                        save the call.</li>
                    <li>To add apparatus, just type the apparatus name into the "apparatus" column of the Department
                        Response section. After saving, click the boxes to the right to timestamp each movement.</li>
                </ol>
            </div>
        </div>

        <div tabindex="0" class="collapse collapse-arrow rounded-box">
            <div class="collapse-title text-lg font-medium">
                Is First Line Response avaiable for download?
            </div>
            <div class="collapse-content">
                <p>Our team is still working to create a stand alone version using Electron. The current expected
                    release date is tentatively 2023.</p>
            </div>
        </div>

        <div tabindex="0" class="collapse collapse-arrow rounded-box">
            <div class="collapse-title text-lg font-medium">
                What are some upcoming features?
            </div>
            <div class="collapse-content">
                <ul class="list-disc list-inside">
                    <li>Create a stand alone version with a local database.</li>
                    <li>Introduce React.JS for more fluid interactions.</li>
                    <li>Add team support, where multiple users can access the same calls simulataneously.</li>
                    <li>Auto-remove completed calls (calls where all apparatus have returned to quarters).</li>
                    <li>Create a call history button.</li>
                    <li>Options to export call information as a PDF or for print.</li>
                    <li>Start new users with an example call.</li>
                </ul>
            </div>
        </div>

    </section>

    <%- include('partials/footer.ejs') %>