<%- include('partials/header.ejs') %>

    <section class="m-6 mx-auto bg-gray-800 p-6 rounded-md">
        <h1 class="pb-3">Enter your information to register a new account.</h1>
        <form action="/signup" method="POST">
            <input type="text" name="userName" placeholder="User Name" class="bg-gray-700">
            <input type="email" name="email" placeholder="Email" class="bg-gray-700">
            <input type="password" name="password" placeholder="Password" class="bg-gray-700">
            <input type="password" name="confirmPassword" placeholder="Confirm Password" class="bg-gray-700">
            <button type="submit" class="link link-hover">Submit</button>
        </form>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el=> { %>
                <div class="bg-gray-800 pt-3">
                    <%= el.msg %>
                </div>
                <% }) %>
                    <% } %>

    </section>
    <%- include('partials/footer.ejs') %>