/******************************************
/* BASE STYLES
/*******************************************/

/* * {
  outline: 1px solid blue;
} */

:root {
    --background: #2d333b;
    --accent: #1e2126;
    --font-size: 1.8rem;
    --color: rgb(223, 223, 223);
    --border: 1px solid black;
    --border-radius: 15px;
}

html {
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #4b4b4b;
    font-size: var(--font-size);
    color: var(--color);
}

h1 {
    margin: 30px 0;
}

/* h2, h3, h4, h5, h6 {

} */

/* p, span, li, input {

} */

a {
  text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: var(--color);
}

/* a:hover {

} */

input, button {
    color: white;
    font-size: var(--font-size);
    font-family: 'Courier New', Courier, monospace;
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

legend {
    font-weight: 700;
}

/******************************************
/* LAYOUT
/*******************************************/

.navigation {
    background-color: var(--background);
    justify-content: space-evenly;
    margin-bottom: 10rem;
    color: var(--color);
}

.home img {
    width: 200px;
    height: auto;
}

.navigation ul {
    justify-content: space-evenly;
    align-items: center;
}

.intro {
    margin: 3rem 0;
}

.banner {
    background-color: var(--accent);
    color: var(--color);
}

.CAD {
    background-color: #1e2126;
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
}

.menu, .callList, .selectedCall {
    background-color: var(--background);
    border-radius: var(--border-radius);
    margin: .5rem;
    padding: 1rem;
    text-align: center;
}

.menu button {
    border-radius: var(--border-radius);
}

.menuList {
    justify-content: center;
}

.callList {
    flex: 1;
}

.selectedCall {
    flex: 6;
}

.selectedCall section {
    padding: 1rem;
    border-bottom: var(--border);
}

.selectedCall section:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.selectedCall legend {
    margin-bottom: 1rem;
}

/* .selectedCall section, .callList ul {
    margin: 3rem auto;
} */

#callNotes, input {
    background-color: var(--accent);
    color: white;
    border: var(--border);
    text-align: left;
}

#callNotes {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 1rem;
}

#newCall {
    background-color: darkred;
}

#newNote {
    width: 100%;
}

table {
    justify-content: center;
}

input {
    width: 20rem;
}

/******************************************
/* HOMEPAGE
/*******************************************/



/******************************************
/* 404
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.fixed {
    position: fixed;
}

/* .gridContainer {
    display: grid;
    grid-template-areas:
        "menu menu menu"
        "callList selectedCall selectedCall"
} */

/* .gridItem {

} */

/******************************************
/* MEDIA
/*******************************************/

