body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.CAD input::placeholder {
    color: rgba(166, 173, 186, .5);
}

.CAD input[readonly] {
    cursor: default;
    pointer-events: none;
}

.responseDepartment input {
    max-width: 8rem;
    text-align: center;
}