body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.CAD input::placeholder {
    color: rgba(166, 173, 186, .5);
}

.CAD input[readonly] {
    cursor: default;
    pointer-events: none;
}

@media only screen and (max-width: 900px) {

    .callInfo fieldset,
    .callLocation fieldset,
    .callType fieldset,
    .callerInfo fieldset {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .callInfo fieldset input,
    .callLocation fieldset input,
    .callType fieldset input,
    .callerInfo fieldset input {
        width: 215px;
    }

    .responseDepartment th {
        display: none;
    }
}