@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.CAD input::placeholder {
    color: rgba(166, 173, 186, .5);
}

.CAD input[readonly] {
    cursor: default;
    pointer-events: none;
}

.bg-gray {
    background: rgb(75 85 99);
}